body{
    background: rgb(240, 115, 136);
}
#Cabeçalho{
    text-align: center;
    font-style: oblique;
    text-shadow: 3px 3px 5px rgb(187, 23, 100);
    color: rgb(255, 255, 255);
    padding: 0%;
}
footer{
    text-align: center;
    font-style: italic;

}
#imggabi{
    border-radius: 1000px;
    box-shadow: 1px 1px 100px rgb(14, 14, 14);
    backdrop-filter: unset;
    
}
#Wap{
    padding-left: 25%;
}
.button:hover {
    background-color: #3e8e41
}

.button:active {
  background-color: #a10747;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#descrição{
    background: white; /*COR DE FUNDO DA DIV*/
    border-radius: 10px; /*ARREDONDAR BORDAS DA DIV*/
    padding: 15px; /*ESPAÇAMENTO DO CONTEUDO DA DIV*/
    width: 500px; /*TAMANHO HORIZONTAL DA DIV*/
    margin: auto; /*CENTRALIZAR A DIV*/
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.418); /*SOMBRA DA DIV*/
    text-align: center;
}
