body{
    background-image:url(./FotoGabiFocoVinheta.jpg);

}
#Cabeçalho{
    text-align: center;
    font-style: oblique;
    text-shadow: 3px 3px 5px rgb(187, 23, 100);
    color: rgb(255, 255, 255);
    padding: 0%;
}
footer{
    text-align: center;
    font-style: italic;
    margin: auto; /*CENTRALIZAR A DIV*/
    color: aliceblue;

}
#imggabi{
    border-radius: 1000px;
    box-shadow: 5px 5px 1000px rgb(14, 14, 14);
    backdrop-filter: unset;
    margin: auto; /*CENTRALIZAR A DIV*/
    
}
#Wap{
    padding-left: 25%;
}
.button:hover {
    background-color: #3e8e41
}

.button:active {
  background-color: #a10747;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#descrição{
    background: rgb(255, 255, 255); /*COR DE FUNDO DA DIV*/
    border-radius: 10px; /*ARREDONDAR BORDAS DA DIV*/
    padding: 1px; /*ESPAÇAMENTO DO CONTEUDO DA DIV*/
    width: 100%; /*TAMANHO HORIZONTAL DA DIV*/
    margin: auto; /*CENTRALIZAR A DIV*/
    box-shadow: 5px 5px 10px rgba(253, 253, 253, 0.418); /*SOMBRA DA DIV*/
    text-align: center;
    opacity: 0.5;
    color: black;
}
#botoes{
    margin: auto; /*CENTRALIZAR A DIV*/
}
